<div class="main-section">
  <div class="row">
    <div class="col-sm-3">
      <span class="code-header">
        <strong>Contas a Receber</strong>
      </span>
    </div>
    <div class="col-sm-9">
      Total Filtrado: {{ total | currency:'BRL' }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <input (change)="search()" name="name" class="input" matInput placeholder="Pesquisar..." [(ngModel)]="filter.searchWords">
    </div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary" (click)="openFilter()">Filtro <mat-icon>filter_list</mat-icon> </button>
    </div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary"[routerLink]="['/conciliacao']">Conciliação</button>
    </div>
    <div class="col-sm-3">
      <button mat-stroked-button color="warn" (click)="exportCSV()">Exportar Contas a Receber(CSV)</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>Projeto</th>
              <th>Cliente</th>
              <th>Nome</th>
              <th>Status</th>
              <th>Banco</th>
              <th>Valor</th>
              <th>Data Ven</th>
              <th>Usuário</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" *ngFor="let billsreceive of billsreceive" routerLink="/contaAReceber/{{billsreceive.id}}">
              <th scope="row">{{billsreceive.projects_id}}</th>
              <td>{{billsreceive.client.name}}</td>
              <td>{{billsreceive.comments}}</td>
              <td>{{billsreceive.status}}</td>
              <td>{{getBank(billsreceive.banks_id)}}</td>
              <td>{{billsreceive.amount | currency:'BRL'}}</td>
              <td>{{billsreceive.payment_date | date}}</td>
              <td>{{billsreceive.employee}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-paginator class="center" [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event">
</mat-paginator>

<a class="button-float" mat-fab routerLink="/contaAReceber/novo"><mat-icon>add</mat-icon></a>
