<div class="main-section">
  <div class="row">
    <div class="col-sm-8">
      <span class="code-header">
        <strong>Contas a Receber</strong>
      </span>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="openFilter()">Filtro <mat-icon>filter_list</mat-icon> </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>Projeto</th>
              <th>Cliente</th>
              <th>Nome</th>
              <th>Status</th>
              <th>Valor</th>
              <th>Acessar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let billsreceive of appState.provider.billsreceives">
              <th scope="row">{{billsreceive.projects_id}}</th>
              <td>{{billsreceive.client.name}}</td>
              <td>{{billsreceive.comments}}</td>
              <td>{{billsreceive.status}}</td>
              <td>{{billsreceive.amount | currency:'BRL'}}</td>
              <td class="clickable" routerLink="/contaAReceber/{{billsreceive.id}}">
                <i class="fas fa-edit"></i>
              </td>
              <td>
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-paginator class="center" [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event">
</mat-paginator>

<a class="button-float" mat-fab routerLink="/contaAReceber/novo"><mat-icon>add</mat-icon></a>