<mat-toolbar-row color="primary" class="toolbar">
  <div class="sidenav-content">
    <mat-icon class="icon-menu" (click)="drawer.toggle()">menu</mat-icon>
    <div class="organization-name">GESTÃO INNOVARE</div>

    <div *ngIf="appState.provider.user">
      {{ appState.provider.user.name }}
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="profile-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/perfil']" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Meu Perfil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>arrow_back</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar-row>
<mat-sidenav-container class="container" autosize>
  <mat-drawer class="drawer" #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/clientes']">Clientes</a>
      <a mat-list-item [routerLink]="['/fornecedores']">Fornecedores</a>
      <a mat-list-item [routerLink]="['/impostos']">Impostos</a>
      <a mat-list-item [routerLink]="['/bancos']">Bancos</a>
      <a mat-list-item [routerLink]="['/centroDeCustos']">Centro de custos</a>
      <a mat-list-item [routerLink]="['/funcionarios']">Funcionarios</a>
      <a mat-list-item [routerLink]="['/projetos']">Projetos</a>
      <a mat-list-item [routerLink]="['/contasAPagar']">Contas a Pagar</a>
      <a mat-list-item [routerLink]="['/contasAReceber']">Contas a Receber</a>
    </mat-nav-list>
  </mat-drawer>
  <!--All children routes go here-->
  <app-route-orientation></app-route-orientation>
  <div [ngStyle]="{ 'padding-left': drawer.opened ? '8%' : '0%' }">
    <router-outlet ></router-outlet>
  </div>
</mat-sidenav-container>