<div class="main-section">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3>
        <span class="code-header"><strong>Relatório de Fluxo de Caixa por centor de Custo (Período de 1 ano)</strong></span>
      </h3>
      <hr>
    </div>
    <div class="col-sm-2">
    </div>

  </div>

  <div class="row">
      <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;" matSort (matSortChange)="sortData($event)">
          <thead>
            <tr>
              <th mat-sort-header="name">Centro de Custo</th>
              <th mat-sort-header="recipes">Receitas</th>
              <th mat-sort-header="expenses">Despesas</th>
              <th mat-sort-header="profit">Lucro/Prejuízo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let billExpense of sortedData">
              <td scope="row">{{billExpense.name}}</td>
              <td>{{billExpense.amountReceive | currency:'BRL':true}}</td>
              <td>{{billExpense.amountPay | currency:'BRL':true}}</td>
              <td>{{billExpense.profit | currency:'BRL':true }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<mat-paginator class="center" [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = search($event)">
</mat-paginator>
