<div class="main-section">
  <div class="row">
    <div class="col-sm-3">
      <span class="code-header">
        <strong>Conciliação</strong>
      </span>
    </div>
    <div class="col-sm-9">
      Total Filtrado: {{ total | currency:'BRL' }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <input (change)="search()" name="name" class="input" matInput placeholder="Pesquisar..." [(ngModel)]="filter.searchWords">
    </div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary" (click)="openFilter()">Filtro <mat-icon>filter_list</mat-icon> </button>
    </div>
    <div class="col-sm-2">
      <button mat-raised-button color="primary" (click)="conciliate()">Conciliar</button>
    </div>
    <div class="col-sm-2">
      Arquivo <input name="email" type="file">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>PROJETO</th>
              <th>Nome</th>
              <th>Banco</th>
              <th>Valor</th>
              <th>Data Pag</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" *ngFor="let bill of appState.provider.bills">
              <th>{{billspay.projects_id}}</th>
              <td>{{billspay.name}}</td>
              <td>{{getBank(billspay.banks_id)}}</td>
              <td>{{billspay.amount | currency:'BRL'}}</td>
              <td>{{billspay.due_date | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-paginator class="center" [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = search($event)">
</mat-paginator>
