<div class="main-section">
  <div class="row">
    <div class="col-sm-12">
      <span class="code-header"><strong>Bancos</strong></span>
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Conciliação</th>
              <th>Acessar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bank of appState.provider.banks">
              <th scope="row">{{bank.id}}</th>
              <td>{{bank.name}}</td>
              <td class="clickable" routerLink="/conciliacaoBancaria/{{bank.id}}">
                <i class="fas fa-edit"></i>
              </td>
              <td class="clickable" routerLink="/banco/{{bank.id}}">
                <i class="fas fa-edit"></i>
              </td>
              <td>
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a class="button-float" mat-fab routerLink="/banco/novo"><mat-icon>add</mat-icon></a>