<div class="main-section">
  <form class="form" name="providerForm" (ngSubmit)="save()">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-form-field class="full-width">
          <input name="name" matInput placeholder="Nome" [(ngModel)]="provider.name">
        </mat-form-field>
      </mat-list-item>

      <div class="full-width button-submit">
        <button type="submit" mat-raised-button color="primary" class="button-submit">Salvar</button>
      </div>
    </mat-list>
  </form>
</div>