<div class="main-section">
  <div class="row">
    <div class="col-sm-3">
      <span class="code-header">
        <strong>Contas a Pagar</strong>
      </span>
    </div>
    <div class="col-sm-5">
      <input (change)="search()" name="name" class="input" matInput placeholder="Pesquisar..." [(ngModel)]="filter.searchWords">
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="openFilter()">Filtro <mat-icon>filter_list</mat-icon> </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>PROJETO</th>
              <!-- <th>Cliente</th> -->
              <th>Nome</th>
              <th>Status</th>
              <th>Banco</th>
              <th>Valor</th>
              <th>Data Pag</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" *ngFor="let billspay of appState.provider.billspays" routerLink="/contaAPagar/{{billspay.id}}">
              <th scope="row">{{billspay.projects_id}}</th>
              <!-- <td>{{billspay.client.name}}</td> -->
              <td>{{billspay.name}}</td>
              <td>{{billspay.status}}</td>
              <td>{{getBank(billspay.banks_id)}}</td>
              <td>{{billspay.amount | currency:'BRL'}}</td>
              <td>{{billspay.due_date | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-paginator class="center" [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = search($event)">
</mat-paginator>

<a class="button-float" mat-fab routerLink="/contaAPagar/novo"><mat-icon>add</mat-icon></a>
