<div class="main-section">
  <div class="row">
    <div class="col-sm-8">
      <span class="code-header">
        <strong>Contas a Pagar</strong>
      </span>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="openFilter()">Filtro <mat-icon>filter_list</mat-icon> </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Acessar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let billspay of appState.provider.billspays">
              <th scope="row">{{billspay.projects_id}} - {{billspay.id}}</th>
              <td>{{billspay.name}}</td>
              <td class="clickable" routerLink="/contaAPagar/{{billspay.id}}">
                <i class="fas fa-edit"></i>
              </td>
              <td>
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<mat-paginator class="center" [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = search($event)">
</mat-paginator>

<a class="button-float" mat-fab routerLink="/contaAPagar/novo"><mat-icon>add</mat-icon></a>