<h1 mat-dialog-title>Filtros</h1>
<div mat-dialog-content>
    <div class="row">
        <label class="col-md-4">Data Gerado</label>
        <div class="col-md-6">
            <input name="generation_date-from" matInput (focus)="pickerFrom.open()" [matDatepicker]="pickerFrom" placeholder="Data Gerado de" [(ngModel)]="filter.date_from">
        </div>
        <div class="col-md-2">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4">Data Gerado Ate</label>
        <div class="col-md-6">
            <input name="generation_date-to" matInput (focus)="pickerTo.open()" [matDatepicker]="pickerTo" placeholder="Data Gerado Ate" [(ngModel)]="filter.date_to">
        </div>
        <div class="col-md-2">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4">Data Vencimento</label>
        <div class="col-md-6">
            <input name="due_date-from" matInput (focus)="pickerDueFrom.open()" [matDatepicker]="pickerDueFrom" placeholder="Data Vencimento de" [(ngModel)]="filter.due_from">
        </div>
        <div class="col-md-2">
            <mat-datepicker-toggle matSuffix [for]="pickerDueFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerDueFrom></mat-datepicker>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4">Data Vencimento Ate</label>
        <div class="col-md-6">
            <input name="due_date-to" matInput (focus)="pickerDueTo.open()" [matDatepicker]="pickerDueTo" placeholder="Data Vencimento Ate" [(ngModel)]="filter.due_to">
        </div>
        <div class="col-md-2">
            <mat-datepicker-toggle matSuffix [for]="pickerDueTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerDueTo></mat-datepicker>
        </div>
    </div>
   <!-- <div class="row">
      <mat-form-field>
        <input name="" matInput [matDatepicker]="dp" placeholder="Mês de referência" [(ngModel)]="filter.month_year">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>-->
    <div class="row">
        <label class="col-md-4">Status</label>
        <div class="col-md-6">
            <mat-select name="status" placeholder="Status" [(ngModel)]="filter.status">
                <mat-option [value]="'PREVISTA'">PREVISTA</mat-option>
                <mat-option [value]="'EFETUADA'">EFETUADA</mat-option>
                <mat-option [value]="'Conciliado'">Conciliado</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4">Projeto</label>
        <div class="col-md-6">
            <mat-select name="projeto" placeholder="Projeto" [(ngModel)]="filter.project_id">
                <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4">Cliente</label>
        <div class="col-md-6">
            <mat-select name="client" placeholder="Cliente" [(ngModel)]="filter.clients_id">
                <mat-option *ngFor="let client of clients" [value]="client.id">{{client.name}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="row">
      <label class="col-md-4">Centro de Custo</label>
      <div class="col-md-6">
          <mat-select name="client" placeholder="Centro de Custos" [(ngModel)]="filter.costCenters_id">
              <mat-option *ngFor="let cost of costCenters" [value]="cost.id">{{cost.name}}</mat-option>
          </mat-select>
      </div>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">ok</button>
</div>
