<div class="main-section">
  <div class="row">
    <div class="col-sm-3">
      <span class="code-header"><strong>Emprestimos</strong></span>
    </div>
    <div class="col-sm-9"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Banco</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let loan of appState.provider.loans" class="clickable" routerLink="/emprestimo/{{loan.id}}">
              <th scope="row">{{loan.id}}</th>
              <td>{{loan.bank.name}}</td>
              <td>{{loan.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a class="button-float" mat-fab routerLink="/emprestimo/novo"><mat-icon>add</mat-icon></a>