<div class="main-section">
  <div class="row">
    <div class="col-sm-4">
      <span class="code-header"><strong>Relatório de Centro de Custos por Contas a Pagar</strong></span>
    </div>
    <div class="col-sm-2">
      <input type="checkbox" (change)="search()" [(ngModel)]="filter.prevista">PREVISTA
    </div>
    <div class="col-sm-2">
      <input type="checkbox" (change)="search()" [(ngModel)]="filter.efetuada">EFETUADA
    </div>
    <div class="col-sm-4">
        <button mat-stroked-button color="warn" (click)="exportCSV()">Exportar Relatório Centro de Custo/Contas a Pagar(CSV)</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <ag-grid-angular
        style="width: 800px; height: 500px;"
        class="ag-theme-balham"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        >
       </ag-grid-angular>
      <!--
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;" matSort (matSortChange)="sortData($event)">
          <thead>
            <tr>
              <th mat-sort-header="name">Centro de Custo</th>
              <th mat-sort-header="bills">Contas</th>
              <th mat-sort-header="amount">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bill of sortedData">
              <td scope="row">{{bill.name}}</td>
              <td>{{bill.bills}}</td>
              <td>{{bill.amount | currency:'BRL':true }}</td>
            </tr>
          </tbody>
        </table>
      </div>-->


    </div>
  </div>
</div>
