<div class="main-section">

  <form class="form" name="advertiserForm" (ngSubmit)="save()">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="full-width">
          <span class="code-header"><strong>Projetos</strong></span>
        </div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="full-width">
          <input name="name" matInput placeholder="Nome" [(ngModel)]="projects.name">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <mat-select name="status" placeholder="Status" [(ngModel)]="projects.status">
            <mat-option [value]="'APROVADO'">APROVADO</mat-option>
            <mat-option [value]="'BLOQUEADO'">BLOQUEADO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="notes" matInput placeholder="Comentarios" [(ngModel)]="projects.notes">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="amount" type="number" matInput placeholder="Valor" [(ngModel)]="projects.amount">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="number" type="number" matInput placeholder="Parcelas" [(ngModel)]="projects.number">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <mat-select name="clients_id" placeholder="Cliente" [(ngModel)]="projects.clients_id">
            <mat-option *ngFor="let client of appState.provider.clients" [value]="client.id">{{client.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-select name="banks_id" placeholder="Banco" [(ngModel)]="projects.banks_id">
            <mat-option *ngFor="let bank of appState.provider.banks" [value]="bank.id">{{bank.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <hr />
      <div *ngFor="let phase of projects.projects_phases">
        <mat-list-item role="listitem">
          <mat-form-field class="col-md-6">
            <mat-select name="provider_id-{{phase.provider_id}}" placeholder="Fornecedor" [(ngModel)]="phase.providers_id">
              <mat-option *ngFor="let provider of appState.provider.providers" [value]="provider.id">{{provider.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input name="amount-{{phase.provider_id}}" type="number" matInput placeholder="Valor" [(ngModel)]="phase.amount">
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input name="number-{{phase.provider_id}}" type="number" matInput placeholder="Parcelas" [(ngModel)]="phase.number">
          </mat-form-field>
        </mat-list-item>

        <mat-list-item role="listitem">
          <div class="col-md-3">
            <mat-select name="status-{{phase.id}}" placeholder="Status" [(ngModel)]="phase.status">
              <mat-option [value]="'PREVISTA'">PREVISTA</mat-option>
              <mat-option [value]="'EFETUADA'">EFETUADA</mat-option>
            </mat-select>
          </div>

          <mat-form-field class="col-md-3">
            <input name="comments-{{phase.provider_id}}" matInput placeholder="Comentarios" [(ngModel)]="phase.comments">
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <input name="expiration_date-{{phase.provider_id}}" matInput [matDatepicker]="picker" placeholder="Data" [(ngModel)]="phase.expiration_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-list-item>
      </div>

      <hr />
      <mat-list-item role="listitem">
        <div class="half-width">
          <button type="button" mat-raised-button color="primary" (click)="addPhase()">Adicionar Fase</button>
        </div>
      </mat-list-item>

      <hr />
      <div class="full-width button-submit">
        <button type="submit" mat-raised-button color="primary" class="button-submit">Salvar</button>
      </div>
    </mat-list>
  </form>
</div>
