<div class="main-section">
  <div class="row">
    <div class="col-sm-12">
      <span class="code-header"><strong>Funcionarios</strong></span>
      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of appState.provider.employees">
              <th scope="row">{{employee.id}}</th>
              <td>{{employee.name}}</td>
              <td class="clickable" routerLink="/funcionario/{{employee.id}}">
                <i class="fas fa-edit"></i>
              </td>
              <td>
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<a class="button-float" mat-fab routerLink="/funcionario/novo"><mat-icon>add</mat-icon></a>