/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$orange: #FF6400;


.mat-raised-button, .button-float {
    background-color: $orange !important;
}

.clickable {
    cursor: pointer;
}

.center {
    margin: auto;
    width: 60%;
    position: fixed;
    bottom: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
