<div class="main-section">
  <form class="form" name="loanForm" (ngSubmit)="save()">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="full-width">
          <span class="code-header"><strong>Metodo Pagamento</strong></span>
        </div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="name" matInput placeholder="Nome" [(ngModel)]="paymentMethod.name">
        </mat-form-field>
      </mat-list-item>

      <div class="full-width button-submit">
        <button type="submit" mat-raised-button color="primary" class="button-submit">Salvar</button>
      </div>

    </mat-list>
  </form>
</div>