<div class="main-section">
  <form class="form" name="advertiserForm" (ngSubmit)="save()">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="full-width">
          <span class="code-header"><strong>Centro de Custo</strong></span>
        </div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="full-width">
          <input name="name" matInput placeholder="Nome" [(ngModel)]="cost_centers.name">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <mat-select name="type" placeholder="Tipo" [(ngModel)]="cost_centers.type">
            <mat-option [value]="'RECEITA'">RECEITA</mat-option>
            <mat-option [value]="'DESPESA'">DESPESA</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <mat-select name="status" placeholder="Tipo de Custo" [(ngModel)]="cost_centers.typeCost" >
            <mat-option [value]="'FIXO'">CUSTO FIXO</mat-option>
            <mat-option [value]="'VARIAVEL'">CUSTO VARIÁVEL</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <div class="full-width button-submit">
        <button type="submit" mat-raised-button color="primary" class="button-submit">Salvar</button>
      </div>
    </mat-list>

  </form>
</div>
