<div class="main-section">
  <form class="form" name="advertiserForm" (ngSubmit)="save()">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <div class="full-width">
          <span class="code-header"><strong>Funcionario</strong></span>
        </div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="full-width">
          <input name="name" matInput placeholder="Nome" [(ngModel)]="employee.name">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <mat-select name="status" placeholder="Status" [(ngModel)]="employee.status">
            <mat-option [value]="'APROVADO'">APROVADO</mat-option>
            <mat-option [value]="'BLOQUEADO'">BLOQUEADO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="phone" type="text" matInput placeholder="Telefone" [(ngModel)]="employee.phone">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="email" type="text" matInput placeholder="Email" [(ngModel)]="employee.email">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="zip_code" type="text" matInput placeholder="CEP" [(ngModel)]="employee.zip_code" (change)="searchZip()">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="adress" type="text" matInput placeholder="Endereço" [(ngModel)]="employee.adress">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="adress_number" type="text" matInput placeholder="Numero" [(ngModel)]="employee.adress_number">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="adress_complement" type="text" matInput placeholder="Complemento" [(ngModel)]="employee.adress_complement">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="adress_district" type="text" matInput placeholder="Bairro" [(ngModel)]="employee.adress_district">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="city" type="text" matInput placeholder="Cidade" [(ngModel)]="employee.city">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="state" type="text" matInput placeholder="Estado" [(ngModel)]="employee.state">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <mat-select name="sector" placeholder="Setor" [(ngModel)]="employee.sector">
            <mat-option [value]="'ADMINISTRATIVO'">ADMINISTRATIVO</mat-option>
            <mat-option [value]="'FINANCEIRO'">FINANCEIRO</mat-option>
            <mat-option [value]="'CAMPO'">CAMPO</mat-option>
            <mat-option [value]="'COMERCIAL'">COMERCIAL</mat-option>
            <mat-option [value]="'ANALISE'">ANALISE</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="username" type="text" matInput placeholder="Usuario" [(ngModel)]="employee.username">
        </mat-form-field>

        <mat-form-field class="half-width">
          <input name="password" type="password" matInput placeholder="Senha" [(ngModel)]="employee.password">
        </mat-form-field>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <input name="salary" type="number" matInput placeholder="Salario" [(ngModel)]="employee.salary">
        </mat-form-field>
      </mat-list-item>

      <hr />
      
      <mat-list-item role="listitem">
        <mat-form-field class="half-width">
          <mat-select name="use_time_control" placeholder="Usar controle de horario" [(ngModel)]="employee.use_time_control">
            <mat-option [value]="'true'">Sim</mat-option>
            <mat-option [value]="'false'">Nao</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      
      <hr />

      <div class="table-border-style table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th>Domingo</th>
              <th>Segunda-feira</th>
              <th>Terça-feira</th>
              <th>Quarta-feira</th>
              <th>Quinta-feira</th>
              <th>Sexta-feira</th>
              <th>Sabado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input name="time-1" type="time" matInput [(ngModel)]="employee.sunday_in">
                <input name="time-2" type="time" matInput [(ngModel)]="employee.sunday_out">
              </td>
              <td>
                <input name="time-3" type="time" matInput [(ngModel)]="employee.monday_in">
                <input name="time-4" type="time" matInput [(ngModel)]="employee.monday_out">
              </td>
              <td>
                <input name="time-5" type="time" matInput [(ngModel)]="employee.tuesday_in">
                <input name="time-6" type="time" matInput [(ngModel)]="employee.tuesday_out">
              </td>
              <td>
                <input name="time-7" type="time" matInput [(ngModel)]="employee.wednesday_in">
                <input name="time-8" type="time" matInput [(ngModel)]="employee.wednesday_out">
              </td>
              <td>
                <input name="time-9" type="time" matInput [(ngModel)]="employee.thursday_in">
                <input name="time-10" type="time" matInput [(ngModel)]="employee.thursday_out">
              </td>
              <td>
                <input name="time-11" type="time" matInput [(ngModel)]="employee.friday_in">
                <input name="time-12" type="time" matInput [(ngModel)]="employee.friday_out">
              </td>
              <td>
                <input name="time-13" type="time" matInput [(ngModel)]="employee.saturday_in">
                <input name="time-14" type="time" matInput [(ngModel)]="employee.saturday_out">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr />

      <div class="full-width button-submit">
        <button type="submit" mat-raised-button color="primary" class="button-submit">Salvar</button>
      </div>

    </mat-list>
  </form>
</div>